@-webkit-keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }

  @keyframes progress-bar {
    0% { transform: scaleX(0); }
    100% { transform: scaleX(1); }
 }

 @keyframes color-change-2x {
  0% {
    background: var(--secondary);
  }
  100% {
    background: var(--main);
  }
}
